<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.wiki.mapper.CustomDocMapper" >

    <update id="incrementViewCount">
        UPDATE doc SET view_count = view_count + 1 where id = #{id}
    </update>
    
     <update id="incrementVoteCount">
        UPDATE doc SET vote_count = vote_count + 1 where id = #{id}
    </update>

</mapper>
